header{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 900px;
    background: url(images/banner/banner1.png) lightgray no-repeat  ;
    background-size: cover;
    }
    .header-container{
        padding: 150px 230px 365px 845px;
        text-align: right;
    }
    .header-title{
        color:  #151414;
        text-align: right;
       font-size: 65px;
       font-weight: 700;
       
      }
      .header-description{
        text-align: right;
        font-size: 20px;

      }
      .btn-primary{
        text-align: right;
        border-radius: 10px;
        background: #F15B22;
        padding: 20px 40px;
        font-size: 20px;
        color: aliceblue;
        font-weight: 800;
        margin-top: 30px;
      }

      /* failures container */


      /* My Plans */
      .my-plan-container{
      margin-top: 150px;
      
      }
      .plan-title{
        text-align: center;
        color:  #151414;
        font-size: 40px;
        font-weight: 700;
        font-family: Work Sans;
}
      .skill-container{
        display: flex;
        padding: 50px 330px;
        justify-content: space-between;
        align-items: center;
      }
      .skill{
        text-align: center;
      }
      .skill-title{
        color:  #151414;
        font-family: Work Sans;
        font-size: 30px;  
        font-weight: 700; 
      }
      .skill-description{
        color:  #737272;
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
      }

      /*  picture-container*/
  
      .picture{
        background-image: url(images/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00)100%) ;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        width: 1200px;
        height: 300px;
        background-blend-mode: overlay;
        background-position: center;
        margin: 50px 230px;
      }
      .picture h2{
      color: #FFF;
      font-family: Work Sans;
      font-size: 40px;
      text-align: left;
      font-weight: 700;
      padding:60px 615px 5px 60px
      }
      #call-now{
        background-color: #FFF;
        color: #151414;
        margin-top: auto;
        margin-left: 60px;
     

      }
      