header{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 900px;
    background: url(images/banner/banner1.png) lightgray no-repeat  ;
    background-size: cover;
    }
    .header-container{
        padding: 150px 230px 365px 845px;
        text-align: right;
    }
    .header-title{
        color:  #151414;
        text-align: right;
       font-size: 65px;
       font-weight: 700;
       
      }
      .header-description{
        text-align: right;
        font-size: 20px;

      }
      .btn-primary{
        text-align: right;
        border-radius: 5px;
        background: #F15B22;
        padding: 30px 60px;
        font-size: 20px;
        color: aliceblue;
        font-weight: 800;
        margin-top: 30px;
      }